<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arpitdec5.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="R.string.app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MovieDescription"
            android:label="@string/movie_description"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.arpitdec5.popularmovies.activities.MainActivity" />
        </activity>
        <activity
            android:name=".utils.user_settings"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Trailors"
            android:label="@string/trailors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Reviews"
            android:label="@string/reviews"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
